#landing {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

#main {
  background-color: #ccc;
  width: 100vw;
  height: 80vh;
  background-image: url("../../images/bot-running.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main #main-content {
  width: 100%;
  height: 100%;
  /* background-color: rgba(50, 50, 50, 0.3); */
}

.title {
  padding: 20px;
  text-align: center;
}

#menu {
  display: flex;
  width: 100vw;
  height: 20vh;
  background-color: #ccc;
  text-align: center;
}

#menu .roster-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menu .roster-layout img {
  width: 50px;
  margin-top: 10px;
}

#menu .new-roster {
  background-color: #f9fdfe;
  transition: linear 250ms;
}

#menu .current-roster {
  background-color: #c7d3c9;
  transition: linear 250ms;
}

.rules {
  flex: 1;
  background-color: #a68859;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 650px) {
  #landing {
    display: flex;
    flex-direction: row;
  }

  #main {
    width: 67vw;
    height: 100vh;
  }

  #menu {
    flex-direction: column;
    width: 33vw;
    height: 100vh;
  }

  #menu .new-roster:hover {
    transform: scale(0.95);
  }
  #menu .current-roster:hover {
    transform: scale(0.95);
  }

  #menu .roster-layout img {
    width: 75px;
  }
}

@media only screen and (min-width: 992px) {
  #main {
    width: 75vw;
  }

  #menu {
    width: 25vw;
  }
}
