.team-container .content {
  text-align: center;
  margin: 40px 0;
}

.team-container .update-team-btn {
  position: absolute;
  top: 40px;
  right: 0;
}

/* Roster */
.roster-container {
  width: 85%;
  margin: 40px auto;
}

table {
  width: 90%;
  margin: 40px auto;
  overflow: scroll;
  font-size: 0.75em;
}

table tr {
  display: flex;
  padding: 5px;
}

table tr:nth-child(1):before,
table tr:nth-child(12):before {
  position: absolute;
  width: 98%;
  border-bottom: 1px solid #ccc;
  padding: 4px;
  margin-top: -45px;
  content: "Starters";
  font-family: Orbitron;
  font-size: 2em;
}

table tr:nth-child(12):before {
  content: "Subs";
}

table tr:nth-child(1),
table tr:nth-child(12) {
  margin-top: 75px;
}

table tbody tr:nth-child(even) {
  background-color: #85ffe5;
}

tr th,
tr td {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.generate-players-buttons {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 500px) {
  table {
    font-size: 1em;
  }
}

.show {
  transform: scale(1);
}

.hide {
  transform: scale(0);
}
