* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
}

a {
  text-decoration: none;
  color: #343434;
}

button {
  padding: 4px;
  background-color: #009978;
  color: #fff;
  border: transparent;
  border-radius: 3px;
  margin: 2px;
  font-size: 0.8em;
}

button:disabled {
  background-color: #ccc;
}

.delete-btn {
  background-color: #a9010a;
}
